name: Test CI
on:
  pull_request:
  push:
    branches:
      - '**'
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Test
        run: |
          pnpm install
          pnpm test
